In [1]:
from pyspark import SparkContext, SparkConf

conf = (SparkConf()
         .setMaster("local")
         .setAppName("News Processing")
         .set("spark.executor.memory", "9g"))
            
sc = SparkContext(conf = conf)

In [342]:
import pandas as pd
import numpy as np

In [343]:
df_test = pd.read_csv("sampleSubmission.csv", index_col=0)

df_outcomes = pd.read_csv("outcomes.csv", index_col=0)
print df_outcomes.shape
df_outcomes.columns

(619326, 11)

Index([u'is_exciting', u'at_least_1_teacher_referred_donor', u'fully_funded',
       u'at_least_1_green_donation', u'great_chat',
       u'three_or_more_non_teacher_referred_donors',
       u'one_non_teacher_referred_donor_giving_100_plus',
       u'donation_from_thoughtful_donor', u'great_messages_proportion',
       u'teacher_referred_count', u'non_teacher_referred_count'],
      dtype='object')

In [344]:
df_projects = pd.read_csv("projects.csv", index_col=0)
print "Training + test records", df_projects.shape
#leave only projects with outcome
df_projects = df_projects.drop(df_test.index)
print "Training records:", df_projects.shape
df_projects.columns

Training + test records (664098, 34)
Training records: (619326, 34)

Index([u'teacher_acctid', u'schoolid', u'school_ncesid', u'school_latitude',
       u'school_longitude', u'school_city', u'school_state', u'school_zip',
       u'school_metro', u'school_district', u'school_county',
       u'school_charter', u'school_magnet', u'school_year_round',
       u'school_nlns', u'school_kipp', u'school_charter_ready_promise',
       u'teacher_prefix', u'teacher_teach_for_america',
       u'teacher_ny_teaching_fellow', u'primary_focus_subject',
       u'primary_focus_area', u'secondary_focus_subject',
       u'secondary_focus_area', u'resource_type', u'poverty_level',
       u'grade_level', u'fulfillment_labor_materials',
       u'total_price_excluding_optional_support',
       u'total_price_including_optional_support', u'students_reached',
       u'eligible_double_your_impact_match', u'eligible_almost_home_match',
       u'date_posted'],
      dtype='object')

In [345]:
def remove_students_reached_outliers(students):
    if(students < 20000 or pd.isnull(students)):
        return students
    
    #magic, found better value
    return 7500
    
df_projects["new_students_reached"] = df_projects["students_reached"].apply(remove_students_reached_outliers)
df_projects.new_students_reached.fillna(df_projects.new_students_reached.median(), inplace=True) 
df_projects["students_reached"] = df_projects["new_students_reached"]
df_projects.drop('new_students_reached', axis=1, inplace=True)

df_projects.fulfillment_labor_materials.fillna(df_projects.fulfillment_labor_materials.mean(), inplace=True)

df_projects.primary_focus_area.fillna(df_projects.primary_focus_area.value_counts().index[0], inplace=True)
df_projects.primary_focus_subject.fillna(df_projects.primary_focus_subject.value_counts().index[0], inplace=True)
df_projects.grade_level.fillna(df_projects.grade_level.value_counts().index[0], inplace=True)
df_projects.teacher_prefix.fillna(df_projects.teacher_prefix.value_counts().index[0], inplace=True)

df_projects["optional_support"] = df_projects["total_price_including_optional_support"] - df_projects["total_price_excluding_optional_support"]

df_projects.to_csv("training/projects_cleaned.csv")

In [349]:
projects_with_outcomes = pd.concat([df_outcomes, df_projects], axis=1)

In [350]:
df_resources = pd.read_csv("resources.csv", index_col=0)
df_resources = df_resources[~df_resources.projectid.isin(df_test.index)]
print df_resources.shape
df_resources.isnull().sum()

(3413372, 8)

projectid                     0
vendorid                 105016
vendor_name              105043
project_resource_type       194
item_name                 12871
item_number               24017
item_unit_price           13056
item_quantity              7472
dtype: int64

In [351]:
def get_resource_avaraged_data(group):
    """ Return mean and median values for item unit price and item quantity in each group 
    """
    mean_item_unit_price = group["item_unit_price"].mean()
    mean_item_quantity = group["item_quantity"].mean()
    median_item_unit_price = group["item_unit_price"].median()
    median_item_quantity = group["item_quantity"].median()
    items = len(group)
    return pd.Series([mean_item_unit_price, median_item_unit_price, mean_item_quantity, median_item_quantity, items], 
                     index=['mean_item_unit_price', 'median_item_unit_price', 'mean_item_quantity', 'median_item_quantity', 'items'])

resourses_avarage_data = df_resources.groupby(["project_resource_type", "vendor_name"], as_index=False).apply(get_resource_avaraged_data)
resourses_avarage_data = resourses_avarage_data.reset_index()

print len(df_resources)
print df_resources.groupby("project_resource_type", as_index=False).agg({"item_unit_price": [np.mean, len]})
print ''
print df_resources.isnull().sum()

3413372
  project_resource_type item_unit_price
                                   mean      len
0                 Books      324.876709  1475690
1                 Other      115.581857   245144
2              Supplies       39.077350  1247137
3            Technology      196.762916   438689
4                 Trips       33.701463     5422
5              Visitors       55.828907     1096

projectid                     0
vendorid                 105016
vendor_name              105043
project_resource_type       194
item_name                 12871
item_number               24017
item_unit_price           13056
item_quantity              7472
dtype: int64

In [352]:
def get_resource_data(resourse):
    """ Unpacks resourse items """
    vendor_name = resourse["vendor_name"]
    project_resource_type = resourse["project_resource_type"]
    item_name = resourse["item_name"]
    item_number = resourse["item_number"]
    item_unit_price = resourse["item_unit_price"]
    item_quantity  = resourse["item_quantity"]
    return vendor_name, project_resource_type, item_name, item_number, item_unit_price, item_quantity 

def get_unit_prices(resourse):
    """ Return unit prices for each item. If unit price is present then it simple returns price. 
    Otherwise it return mean median price for item with same vendor name and resource type 
    or with same resource type"""
    vendor_name, project_resource_type, item_name, item_number, item_unit_price, item_quantity  = get_resource_data(resourse)
    if(item_unit_price > 0):
        return item_unit_price
    
    if(pd.notnull(vendor_name) & pd.notnull(project_resource_type)):
        matching_resources = resourses_avarage_data[(resourses_avarage_data.vendor_name == vendor_name) &
                                          (resourses_avarage_data.project_resource_type == project_resource_type)]
        
        if(not matching_resources.empty):
            return matching_resources.iloc[0].median_item_unit_price
        
        return df_resources[df_resources.project_resource_type == project_resource_type].project_resource_type.mean()
        
    return df_resources.item_unit_price.mean()

def get_total_price(resource):
    """ Returns total price for each resource """
    vendor_name, project_resource_type, item_name, item_number, item_unit_price, item_quantity = get_resource_data(resource)
    return item_unit_price * item_quantity

# all missing project_resource_types will be books
df_resources["project_resource_type"].fillna("Books", inplace=True)
# removes skewed data for item unit price
df_resources = df_resources[df_resources["item_unit_price"] < 100000]
# item quantity at least one, should add avaraging based on resource_type and vendor_name combination
df_resources["item_quantity"].fillna(1, inplace=True)
# remove outliers for item_quantity
df_resources = df_resources[df_resources.item_quantity < 20000]
# no point to keep items where we dont know item unit price and item quantity, shoulb be replaced with avaraged price
df_resources = df_resources[(df_resources.item_unit_price > 0) | (df_resources.item_quantity > 0)]

# replaces zero or negative item quantity with quantity of 1 
df_resources["temp_quantity"] = df_resources.item_quantity
df_resources.loc[df_resources.item_quantity <= 0, 'temp_quantity'] = 1
df_resources.item_quantity = df_resources.temp_quantity
df_resources.drop('temp_quantity', axis=1, inplace=True)

df_resources["item_unit_price"] = df_resources.apply(get_unit_prices, axis=1)
# df_resources["total_project_price"] = df_resources.apply(get_total_price, axis=1)

In [179]:
print df_outcomes.shape
print "Exciting:", df_outcomes[df_outcomes.is_exciting == "t"].shape
df_outcomes.isnull().sum()

(619326, 11)
Exciting: (36710, 11)

is_exciting                                            0
at_least_1_teacher_referred_donor                  94398
fully_funded                                           0
at_least_1_green_donation                          94398
great_chat                                             0
three_or_more_non_teacher_referred_donors          94398
one_non_teacher_referred_donor_giving_100_plus     94398
donation_from_thoughtful_donor                     94398
great_messages_proportion                         179839
teacher_referred_count                             94398
non_teacher_referred_count                         94398
dtype: int64

In [187]:
# df_useful_outcomes = df_outcomes[pd.notnull(df_outcomes.at_least_1_green_donation)]
# df_teachers_data = pd.concat([df_useful_outcomes, df_projects], axis=1, join="inner")

def get_teachers_data(group):
    projects_count = len(group)
    exciting_projects = len(group[group["is_exciting"] == "t"])
    exciting_projects_rate = 1.0 * exciting_projects / projects_count
    fully_funded_count = len(group[group["fully_funded"] == "t"])
    fully_funded_rate = 1.0 * fully_funded_count / projects_count
    green_donation_count = len(group[group["at_least_1_green_donation"] == "t"])
    green_donation_rate = 1.0 * green_donation_count / projects_count
    great_chat_count = len(group[group["great_chat"] == "t"])
    great_chat_rate = 1.0 * great_chat_count / projects_count
    teacher_referred_count_mean = group["teacher_referred_count"].mean()
    donation_from_thoughtful_donor_count = len(group["donation_from_thoughtful_donor"] == "t")
    donation_from_thoughtful_donor_rate = 1.0 * donation_from_thoughtful_donor_count / projects_count
    non_teacher_referred_count_mean = group["non_teacher_referred_count"].mean()
    
    return pd.Series([projects_count, exciting_projects, exciting_projects_rate, fully_funded_count, 
                      fully_funded_rate, green_donation_count, green_donation_rate, great_chat_count,
                     great_chat_rate, teacher_referred_count_mean, donation_from_thoughtful_donor_count,
                     donation_from_thoughtful_donor_rate, non_teacher_referred_count_mean], 
                     index=['projects_count', 'exciting_projects', 'exciting_projects_rate', 'fully_funded_count', 
                            'fully_funded_rate', 'green_donation_count', 'green_donation_rate', 'great_chat_count'
                            ,'great_chat_rate', 'teacher_referred_count_mean', 'donation_from_thoughtful_donor_count',
                           'donation_from_thoughtful_donor_rate', 'non_teacher_referred_count_mean'])

teachers = df_teachers_data.groupby('teacher_acctid').apply(get_teachers_data)

# teachers.to_csv("/home/makambi/Desktop/DataAnalysis/kaggle/kdd-cup/teachers.csv")

In [263]:
t = teachers.reset_index()
print "Unique teachers:", t.teacher_acctid.unique().shape[0]
print "Unique teachers with projects:", df_projects.teacher_acctid.unique().shape[0]

Unique teachers: 208147
Unique teachers with projects: 249555

In [292]:
# projects_without_teachers = df
# pp = df_projects.reset_index()
# unknown_teachers_projects = pp[~pp.teacher_acctid.isin(t.teacher_acctid.unique())]
print unknown_teachers_projects.projectid.unique().shape
unknown_teachers_projects[:5]

(47654,)

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,...,poverty_level,grade_level,fulfillment_labor_materials,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,eligible_almost_home_match,date_posted,optional_support
0,316ed8fb3b81402ff6ac8f721bb31192,42d43fa6f37314365d08692e08680973,c0e6ce89b244764085691a1b8e28cb81,6.362701e+10,36.576340,-119.608713,Selma,CA,93662,NaN,...,highest poverty,Grades 6-8,30,555.81,653.89,32,f,f,2014-05-12,98.08
2,32943bb1063267de6ed19fc0ceb4b9a7,37f85135259ece793213aca9d8765542,665c3613013ba0a66e3a2a26b89f1b68,4.103270e+11,45.166039,-122.414576,Colton,OR,97017,rural,...,high poverty,Grades PreK-2,30,430.89,506.93,17,f,f,2014-05-11,76.04
5,eac7d156205f1333de3887d656f46611,ff064802c18e68db7ddb7ea0bf7732e8,929336e5a242d2e67f1a591196ba7701,4.018700e+10,33.298792,-111.827793,Chandler,AZ,85225,suburban,...,highest poverty,Grades 3-5,30,750.92,883.44,20,f,f,2014-05-11,132.52
6,5a3bfdf2e05781ccd0654dee0d51d1cd,085794a9e315b88cb7aec548831572f5,dc34b021fd177cfdb22f22055ca9d04f,1.006000e+10,32.838778,-85.517527,Lafayette,AL,36862,rural,...,highest poverty,Grades PreK-2,30,2291.48,2695.86,320,f,f,2014-05-11,404.38
9,3118962680bb062323c3566197487315,eb0855cc6ea55d173ca8f8e4fd6a9e18,71b4dee33799c2111773bb4444766bf0,3.402640e+11,39.951767,-75.117188,Camden,NJ,8102,urban,...,highest poverty,Grades PreK-2,30,567.84,668.05,28,f,f,2014-05-11,100.21

In [306]:
# do = df_outcomes.reset_index()
# do[do.projectid.isin(unknown_teachers_projects.projectid.unique())]

(619326, 35)

In [192]:
# df_donations = pd.read_csv("donations.csv", index_col=0)
# df_donations.head()
df_donations.isnull().sum()

projectid                                         0
donor_acctid                                      0
donor_city                                  2005592
donor_state                                  603109
donor_zip                                   1712062
is_teacher_acct                                   0
donation_timestamp                                0
donation_to_project                               0
donation_optional_support                         0
donation_total                                    0
dollar_amount                                     0
donation_included_optional_support                0
payment_method                                    0
payment_included_acct_credit                      0
payment_included_campaign_gift_card               0
payment_included_web_purchased_gift_card          0
payment_was_promo_matched                         0
via_giving_page                                   0
for_honoree                                       0
donation_message                             797265
dtype: int64

In [200]:
# df_donations["dollar_amount"].value_counts()
# df_donations[["donation_total", "dollar_amount"]]

                                  donation_total dollar_amount
donationid
431d720bc3dfd75ae445a5eaa0b0638d           50.00     10_to_100
fcfedba1c8a0ba77d280cace80a909f6           31.56     10_to_100
3fa95d29986aa6f401c6719ced3a3ce7           55.35     10_to_100
020ad6bd5e88a35741d23b5e08f8b8e8           10.00     10_to_100
4b44b03f304d6425ae94446686f93cd6           20.00     10_to_100
9be4b22432cae4c9ad0a8f8b45e23549            5.00      under_10
d638145f90a23325b721813b2f8ee7c4           50.00     10_to_100
b39547f29dfc25fb13c6e9e8d940dc43          250.00    100_and_up
471e89e99b76bc0a84b4b7f2c1d85abe          217.66    100_and_up
87f432143e452c459dd13973c31acc3e           25.00     10_to_100
d5782c7d267baabe13ef24ace63c4c57           25.00     10_to_100
454d988d26bf531e92385fde42833a5a           25.00     10_to_100
44842bc73032bcc4b44f77dd9007a6eb           69.00     10_to_100
45b90c3d8cbf06a4c88410069c7fa9c7          100.00    100_and_up
9047579ce6a5c45abd801aa9e4c16bce          100.00    100_and_up
9e0f234dfa2982619dacd0635019d53d           80.00     10_to_100
fdcd840e3dd57016590cb8a69aed0c09           15.00     10_to_100
0a5e96e7ac5fe374bee3bf571ffd66d8          100.00    100_and_up
15ffbe32a7efdbd8b5ab200952d4aa67           25.00     10_to_100
7d4c6a51214f38e92ad9a23d2d87af0c           50.00     10_to_100
dc443795f9c89a9f12c03490c0036968           25.00     10_to_100
b9cdd31c3c57b527c1f97b547d53562d           68.05     10_to_100
58cd1ebb1987a4805130405e65a5317c           50.00     10_to_100
a00ea2dff0dacf104138265b57a23144          938.00    100_and_up
87e36f1ff7d7ab4ce189fe0e4469b0d5           25.00     10_to_100
474fbf88996111159655a36ad588c7c1            5.00      under_10
bb380d08b1521ef5ab768560678cdcef         1051.45    100_and_up
c21e99d55dcda1336925b3abb2e08650          880.00    100_and_up
8d231494b956715874e5352726d55c0a           20.00     10_to_100
58298118eb5cef7a05da3a5b8a5b50ae           25.00     10_to_100
...                                          ...           ...
201b1ad92ff7c5b73fd4349d04acfcf9           20.00     10_to_100
3b449c5451989d027826afd486d2e866           13.47     10_to_100
d37e5df7ec994e79d0de2c48543b99bc            5.00      under_10
1999e71e15d004cab4042509e82fa48c           20.00     10_to_100
03ef025596c940884d014e9e55f1839c          353.25    100_and_up
4aea46a2ecdfea1d209aecfdb2d34ed8            5.00      under_10
217cf8eaec45effa13d08e8ebb7349f2           35.00     10_to_100
acdadfa6db9a38a56a200881872c3e24           10.00     10_to_100
b53b780cc18ab486abbbd605bf581fe6           10.00     10_to_100
c7caf96a3c6ca3d7c55fde1868c34210           35.00     10_to_100
e3ed5152474187704a52c01af70be337           51.23     10_to_100
a9e7f31131853d158f473ac8dae19194          141.24    100_and_up
c3712fbf1721061607d0aeca34b5f7a1          100.00    100_and_up
e8cf87b39ba82f678477a0f02a091f1b           50.00     10_to_100
f58352ada9c10c5f0693e422478b9410           50.00     10_to_100
f0e299bd696b7c441466a2e406cae05d          100.00    100_and_up
3f0e7245c975513a30a4886f7dc9cf1e          132.78    100_and_up
8822a378b64bfba3605b1b773fa5f103           20.00     10_to_100
867a022547e7a8728cf6ebc243827226          322.27    100_and_up
16db52af69a045a8e0a093a22f8097f9          322.27    100_and_up
57969648e17965f2b36931c961445a74           25.00     10_to_100
c0c87c674975d16f9ec0980fdce85afb           15.00     10_to_100
6e38640feaec756faa40fa297720d86b           15.00     10_to_100
4eb7853b2bf313c166e9ca814cfe4e83           50.00     10_to_100
0da86090d7a17c3dcde763cf22b6482c           15.00     10_to_100
13496fce58def44b9a599cbcf47341a1          541.55    100_and_up
c73ae246117c943789016c981722a35c           20.00     10_to_100
6852f37d0f4cb3e3707ac57f07576a3b            5.00      under_10
014654dc6c8c42d9b95727364c680f64         1488.61    100_and_up
1f22e76fa76c2c9e8d90818b7c275845            5.00      under_10

[3097989 rows x 2 columns]